.generic-content{
    width: 100%;
    text-align: left;
    padding: 5rem 0;
    background-color: var(--color-background-menu);
}

.generic-content h1{
    position: relative;
    color: var(--color-secondary);
    font-size: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.generic-content h1 span{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--color-border-bottom);
    padding: .1rem;
}

.generic-content img{
    width: 100%;
    padding-bottom: 3rem;
}

.generic-content p{
    font-size: 2rem;
    line-height: 3.5rem;
    color: var(--color-primary);
    padding-bottom: 2rem;
}

.desktop ul li span.border-bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #312450, #b74e91);
    padding: .1rem;
}

footer{
    background-color: #261c3e;
}

/** Estilos do @media width: 650px **/
@media screen and (min-width: 650px){
    .desktop{
        background-color: var(--color-background-welcome);
    }

    .body-wraper{
        padding-top: 5rem;
    }
}
/*****/

/** Estilos do @media width: 820px **/
@media screen and (min-width: 820px){
    .generic-content h1{
        text-align: center;
    }
}
/*****/

/** Estilos do @media width:1200px  terminar de fazer **/
@media screen and (min-width: 1200px){
    .body-wraper{
        padding-top: 0;
    }

    .container{
        width: 70vw;
    }
    
    .btn{
        border-radius: 5rem;
        width: 20rem;
        height: 5rem;    
        line-height: 5rem;
        font-size: 1.4rem;
        margin-left: 3rem;
    }

    .landing-page + .body-wraper{
        margin-left: 20rem;
    }

    /** Estilos da nav **/
    nav.landing-page{
        z-index: 0;
        width: 15%;
    }

    .desktop{
        height: 100vh;
        position: relative;
    }

    .desktop ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
        display: inline-block;
        text-align: right;
    }

    .desktop ul li{
        position: relative;
        padding: 5rem 0 2rem; 
        margin: 0 2rem;
        cursor: pointer; 
    }

    .desktop ul li a{
        display: block;
        font-size: 2.5rem;
    }
    /*****/
}
/*****/